# Assignment 4

Before working on this assignment please read these instructions fully. In the submission area, you will notice that you can click the link to **Preview the Grading** for each step of the assignment. This is the criteria that will be used for peer grading. Please familiarize yourself with the criteria before beginning the assignment.

This assignment requires that you to find **at least** two datasets on the web which are related, and that you visualize these datasets to answer a question with the broad topic of **economic activity or measures** (see below) for the region of **Ann Arbor, Michigan, United States**, or **United States** more broadly.

You can merge these datasets with data from different regions if you like! For instance, you might want to compare **Ann Arbor, Michigan, United States** to Ann Arbor, USA. In that case at least one source file must be about **Ann Arbor, Michigan, United States**.

You are welcome to choose datasets at your discretion, but keep in mind **they will be shared with your peers**, so choose appropriate datasets. Sensitive, confidential, illicit, and proprietary materials are not good choices for datasets for this assignment. You are welcome to upload datasets of your own as well, and link to them using a third party repository such as github, bitbucket, pastebin, etc. Please be aware of the Coursera terms of service with respect to intellectual property.

Also, you are welcome to preserve data in its original language, but for the purposes of grading you should provide english translations. You are welcome to provide multiple visuals in different languages if you would like!

As this assignment is for the whole course, you must incorporate principles discussed in the first week, such as having as high data-ink ratio (Tufte) and aligning with Cairo’s principles of truth, beauty, function, and insight.

Here are the assignment instructions:

 * State the region and the domain category that your data sets are about (e.g., **Ann Arbor, Michigan, United States** and **economic activity or measures**).
 * You must state a question about the domain category and region that you identified as being interesting.
 * You must provide at least two links to available datasets. These could be links to files such as CSV or Excel files, or links to websites which might have data in tabular form, such as Wikipedia pages.
 * You must upload an image which addresses the research question you stated. In addition to addressing the question, this visual should follow Cairo's principles of truthfulness, functionality, beauty, and insightfulness.
 * You must contribute a short (1-2 paragraph) written justification of how your visualization addresses your stated research question.

What do we mean by **economic activity or measures**?  For this category you might look at the inputs or outputs to the given economy, or major changes in the economy compared to other regions.

## Tips
* Wikipedia is an excellent source of data, and I strongly encourage you to explore it for new data sources.
* Many governments run open data initiatives at the city, region, and country levels, and these are wonderful resources for localized data sources.
* Several international agencies, such as the [United Nations](http://data.un.org/), the [World Bank](http://data.worldbank.org/), the [Global Open Data Index](http://index.okfn.org/place/) are other great places to look for data.
* This assignment requires you to convert and clean datafiles. Check out the discussion forums for tips on how to do this from various sources, and share your successes with your fellow students!

## Example
Looking for an example? Here's what our course assistant put together for the **Ann Arbor, MI, USA** area using **sports and athletics** as the topic. [Example Solution File](./readonly/Assignment4_example.pdf)

#### Importing required files :

In [263]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib notebook

#### Creating a connection to the sqlite database :

In [264]:
conn = sqlite3.connect("./../../../../Datasets/European soccer databse 2008-16/database.sqlite")

#### Fetching required tables form the dataset and storing them in the required database :

In [265]:
countries = pd.read_sql_query("select * from Country", conn)
leagues =  pd.read_sql_query("Select * from League", conn)
matches = pd.read_sql_query("Select * from Match", conn)
teams = pd.read_sql_query("Select * from Team", conn)
team_attributes = pd.read_sql_query("Select * from Team_Attributes", conn)
# players = pd.read_sql_query("Select * from Player", conn)
# player_attributes = pd.read_sql_query("Select * from Player_Attributes", conn)

### Understanding the structure of dataframes :

#### Printing top 5 columns to understand the structure and identify required attributes and data frames :

In [266]:
print("COUNTRIES: \n \n",countries.head(),
      "\n \n LEAGUES: \n \n",leagues.head(),
      "\n \n TEAMS: \n \n",teams.head(),
      "\n \n PLAYERS: \n \n",players.head()
     )

COUNTRIES:

       id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy

 LEAGUES:

       id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

 TEAMS:

    id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

 PLAYERS:

    id  player_api_id         player_name  player_fifa_api_id  \
0   1         505942  Aaron Appindangoye              218353
1   2         155782     Aaron Cresswell              189615
2   3         162549         Aaron Doran              186170
3   4          30572       Aaron Galindo              140161
4   5          23780        Aaron Hughes               17725

              birthday  height  weight
0  1992-02-29 00:00:00  182.88     187
1  1989-12-15 00:00:00  170.18     146
2  1991-05-13 00:00:00  170.18     163
3  1982-05-08 00:00:00  182.88     198
4  1979-11-08 00:00:00  182.88     154

In [267]:
matches.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

###   _In this notebook i will concentrate on the performances of the top teams in the English Premier League :_

#### Reducing the Matches dataset to only specific league :

In [268]:
# i/p : league_name ; o/p : league_id (id of the specied league)
def get_league_id(league_name) :
    league_id = leagues[leagues["name"] == "England Premier League"].loc[:,"id"].iloc[0]
    return league_id

# i/p : league_id; o/p : league_matches_dataframe - ( all the matches from a specific league )
def get_league_matches(league_id):
    df = matches[matches["league_id"] == league_id]
    return df

In [269]:
# fetching all EPL matches from the matches dataframe
league_name = "England Premier League"
league_id = get_league_id(league_name)

# EPL matches dataframe
epl_matches_df = get_league_matches(league_id) 
print("EPL matches dataframe structure : \n \n Rows = {} Columns = {} \n \n Top 5 columns : \n \n {}"
      .format(epl_matches_df.shape[0],
              epl_matches_df.shape[1],
              epl_matches_df.head())
     )

EPL matches dataframe structure :

 Rows = 3040 Columns = 115

 Top 5 columns :

         id  country_id  league_id     season  stage                 date  \
1728  1729        1729       1729  2008/2009      1  2008-08-17 00:00:00
1729  1730        1729       1729  2008/2009      1  2008-08-16 00:00:00
1730  1731        1729       1729  2008/2009      1  2008-08-16 00:00:00
1731  1732        1729       1729  2008/2009      1  2008-08-16 00:00:00
1732  1733        1729       1729  2008/2009      1  2008-08-17 00:00:00

      match_api_id  home_team_api_id  away_team_api_id  home_team_goal  ...    \
1728        489042             10260             10261               1  ...
1729        489043              9825              8659               1  ...
1730        489044              8472              8650               0  ...
1731        489045              8654              8528               2  ...
1732        489046             10252              8456               4  ...

        SJA   VCH  VCD    VCA   GBH   GBD   GBA   BSH   BSD    BSA
1728  10.00  1.28  5.5  12.00  1.30  4.75  10.0  1.29  4.50  11.00
1729  12.00  1.25  6.0  13.00  1.22  5.50  13.0  1.22  5.00  13.00
1730   1.73  5.50  3.8   1.65  5.00  3.40   1.7  4.50  3.40   1.73
1731   3.75  1.90  3.5   4.35  1.91  3.25   4.0  1.91  3.25   3.80
1732   3.75  1.90  3.5   4.35  1.91  3.25   4.0  1.91  3.30   3.75

[5 rows x 115 columns]

#### Removing unncessary columns from EPL matches dataframe:

In [270]:
# REMOVING : PLAYER INFORMATION COLUMNS, MATCH EVENT COLUMNS AND BETTING ODDS COLUMNS FOR THAT MATCH:
# REMOVING: country Id, league Id and date of the match information
# Setting index to 'id column'
# renaming some columns {'home_team_api_id' : 'home_team_id', 'away_team_api_id': 'away_team_id','stage' : 'match_day'}
epl_matches_df = (epl_matches_df.iloc[:,0:11]
                  .drop(columns=['country_id', 'league_id', 'date'])
                  .set_index('id')
                  .rename({'home_team_api_id' : 'home_team_id', 'away_team_api_id': 'away_team_id','stage' : 'match_day', 'match_api_id' : 'match_id'}, axis= 1)
                 )

In [271]:
# i/p : list of team ids o/p : dict of team id and team name
def get_team_name(team_id_list):
    team_long_name = {}
    team_short_name = {}
    for id in team_id_list:
        team_long_name[id] = teams[teams['team_api_id'] == id]['team_long_name'].iloc[0]
        team_short_name[id] = teams[teams['team_api_id'] == id]['team_short_name'].iloc[0]
    return (team_long_name, team_short_name)

In [272]:
def add_result_column(row):
    if row['home_team_goal'] == row['away_team_goal']:
        row["result"] = 'draw'
    elif row['home_team_goal'] > row['away_team_goal']:
        row["result"] = 'home'
    else:
        row['result'] = 'away'
    return row    

def add_team_names(row, team_name_dict):
    row["home_team"] = team_name_dict[row['home_team_id']]
    row["away_team"] = team_name_dict[row['away_team_id']]
    return row

full_name_dict, short_name_dict = get_team_name(epl_matches_df['home_team_id'].unique())

# adding result column
epl_matches_df = (epl_matches_df.apply(add_result_column, axis=1)
                                .apply(add_team_names, args=(full_name_dict,), axis=1))

In [273]:
epl_matches_df.head()

,season,match_day,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,result,home_team,away_team
id,,,,,,,,,,
1729,2008/2009,1,489042,10260,10261,1,1,draw,Manchester United,Newcastle United
1730,2008/2009,1,489043,9825,8659,1,0,home,Arsenal,West Bromwich Albion
1731,2008/2009,1,489044,8472,8650,0,1,away,Sunderland,Liverpool
1732,2008/2009,1,489045,8654,8528,2,1,home,West Ham United,Wigan Athletic
1733,2008/2009,1,489046,10252,8456,4,2,home,Aston Villa,Manchester City

#### Finding the top 4 performing teams in the premier league from 2008-16 :
 - Top performing teams over a period is calculated based on **win percentage** of a team over that period.
 - In case of same win percentage we consider **draw %**

In [274]:
def set_winner(row):
    if row['result'] == 'home':
        row['winner'] = row['home_team']
    elif row['result'] == 'away':
        row['winner'] = row['away_team']
    else:
        row['winner'] = 'draw'
    return row

epl_matches_df = epl_matches_df.apply(set_winner, axis = 1)

In [275]:
top_6_teams = (epl_matches_df.groupby('winner')['match_id']
                       .agg({'count'})
                       .rename({'count' : 'win_count'}, axis = 1)
                       .sort_values('win_count',axis = 0, ascending = False)
                       .iloc[1:7,:]
        )

# top teams over the specific period based on win count
top_6_teams

                   win_count
winner
Manchester United        192
Chelsea                  176
Manchester City          175
Arsenal                  170
Tottenham Hotspur        151
Liverpool                150

#### Reducing the matches dataset to keep only the top 6 teams required :

In [276]:
epl_matches_top_6 = epl_matches_df[epl_matches_df['home_team'].isin(top_6_teams.index.tolist()) | epl_matches_df['away_team'].isin(top_6_teams.index.tolist())]

In [ ]:
epl_matches_top_6.groupby('season')