---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [243]:
import pandas as pd
import numpy as np
doc = []
with open('./../Datasets/dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(-20)

0           03/25/93 Total time of visit (in minutes):\n
1                         6/18/85 Primary Care Doctor:\n
2      sshe plans to move as of 7/8/71 In-Home Servic...
3                  7 on 9/27/75 Audit C Score Current:\n
4      2/6/96 sleep studyPain Treatment Pain Level (N...
5                      .Per 7/06/79 Movement D/O note:\n
6      4, 5/18/78 Patient's thoughts about current su...
7      10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                           3/7/86 SOS-10 Total Score:\n
9               (4/10/71)Score-1Audit C Score Current:\n
10     (5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC...
11                         4/09/75 SOS-10 Total Score:\n
12     8/01/98 Communication with referring physician...
13     1/26/72 Communication with referring physician...
14     5/24/1990 CPT Code: 90792: With medical servic...
15     1/25/2011 CPT Code: 90792: With medical servic...
16           4/12/82 Total time of visit (in minutes):\n
17          1; 10/13/1976 Audit C Score, Highest/Date:\n
18                   4, 4/24/98 Relevant Drug History:\n
19     ) 59 yo unemployed w referred by Urgent Care f...
20           7/21/98 Total time of visit (in minutes):\n
21                        10/21/79 SOS-10 Total Score:\n
22      3/03/90 CPT Code: 90792: With medical services\n
23      2/11/76 CPT Code: 90792: With medical services\n
24     07/25/1984 CPT Code: 90791: No medical services\n
25     4-13-82 Other Child Mental Health Outcomes Sca...
26      9/22/89 CPT Code: 90792: With medical services\n
27        9/02/76 CPT Code: 90791: No medical services\n
28                                9/12/71 [report_end]\n
29     10/24/86 Communication with referring physicia...
                             ...
450                        1/1994 Primary Care Doctor:\n
451    Reports MRI of brain done 12/2004 at Gravette ...
452    s6 past psychiatric hospitalizations starting ...
453                            7/1991 Medical History:\n
454                        7/1982 Primary Care Doctor:\n
455    sHemmorage caused by probe in 1984 Medical His...
456    sHas been at MYH since his treaters in NE reti...
457    Pt joined Army reserves in 2001 and has 3 year...
458    one sister from whom he is estranged due to he...
459    sSince 1998. Prior medication trials (includin...
460                            1 Ex-smoker : quit 2012\n
461    . Age 16, 1991, frontal impact. out for two we...
462       sLexapro (1988-now): Good response (anxiety)\n
463    s      25 year old engaged to be married Optic...
464    8Complications from brain hemmorage in 2016 Ax...
465    .Age, 19, 1976, playing football, frontal impa...
466                   s1981  Swedish-American Hospital\n
467    aS/P suicide attempt 2011 Hx of Outpatient Tre...
468    Patient has a history of suicidal ideation wit...
469    Born and raised in Fowlerville, IN.  Parents d...
470    y1983 Clinic Hospital, first hospitalization, ...
471    tProblems Urinary incontinence : mild urge inc...
472    .2010 - wife; nightmares and angry outbursts; ...
473         shx of TBI (1975) ISO MVA.Medical History:\n
474    sPatient reported losing three friends that pa...
475                        TSH okay in 2015 Prior EKG:\n
476    1989 Family Psych History: Family History of S...
477    oEnjoys animals, had a dog x 14 yrs who died i...
478    eHistory of small right parietal subgaleal hem...
479    sIn KEP Psychiatryfor therapy and medications ...
Length: 480, dtype: object

In [247]:
df.iloc[476]

'1989 Family Psych History: Family History of Suicidal Behavior: Ideation/Threat(s)\n'

In [151]:
# Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
import re
df.str.findall(r'((?:\d{0,2})?(?: Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-. ]{0,2}(?:\d{0,2})?[, ]{0,2}(?:\d{0,4}))').iloc[250:260]

250                 [May 2005]
251            [December 1998]
252                [ Jan 2007]
253                 [Feb 2016]
254    [Augusta , August 1979]
255                 [Oct 2014]
256                 [Aug 1988]
257                 [Sep 2015]
258                 [Apr 1976]
259                 [Nov 1979]
dtype: object

In [323]:
# 04/20/2009; 04/20/09; 4/20/09; 4/3/09
# Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
# 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
# Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
# Feb 2009; Sep 2009; Oct 2010
# 6/2008; 12/2009
# 2009; 2010
df2 = df.str.extract(r'(?P<Dates>(?:(?:\d{1,2})[-/](?:\d{1,2}[-/])(?:\d{2,4})|(?:\d{1,2})?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.]{0,2}(?:\d{0,2}(?:nd|th|st)?)?[, ]{0,2}\d{2,4}|\d{4}))')

In [324]:
df2["Dates"].replace({"Jan[a-z]*":"01","Feb[a-z]*":"02","Mar[a-z]*":"03","Apr[a-z]*":"04","May[a-z]*":"05","Jun[a-z]*":"06","Jul[a-z]*":"07","Aug[a-z]*":"08","Sep[a-z]*":"09","Oct[a-z]*":"10","Nov[a-z]*":"11","Dec[a-z]*":"12","[., -]{1,2}":"/"," ":"/"},inplace = True, regex=True)

In [321]:
df2["Dates"].replace({"^\d{4}":"9999"},inplace = True, regex=True)

In [325]:
df2["Dates"].unique()

array(['03/25/93', '6/18/85', '7/8/71', '9/27/75', '2/6/96', '7/06/79',
       '5/18/78', '10/24/89', '3/7/86', '4/10/71', '5/11/85', '4/09/75',
       '8/01/98', '1/26/72', '5/24/1990', '1/25/2011', '4/12/82',
       '10/13/1976', '4/24/98', '5/21/77', '7/21/98', '10/21/79',
       '3/03/90', '2/11/76', '07/25/1984', '4/13/82', '9/22/89',
       '9/02/76', '9/12/71', '10/24/86', '03/31/1985', '7/20/72',
       '4/12/87', '06/20/91', '5/12/2012', '3/15/83', '2/14/73',
       '5/24/88', '7/27/1986', '1/14/81', '7/29/75', '6/24/87', '8/14/94',
       '4/13/2002', '8/16/82', '2/15/1998', '7/15/91', '06/12/94',
       '9/17/84', '2/28/75', '11/22/75', '5/24/91', '6/13/92', '7/11/71',
       '12/26/86', '10/11/1987', '3/14/95', '12/01/73', '12/5/2010',
       '08/20/1982', '7/24/95', '8/06/83', '02/22/92', '6/28/87',
       '07/29/1994', '08/11/78', '10/29/91', '7/6/91', '1/21/87',
       '11/3/1985', '7/04/82', '4/13/89', '7/11/77', '4/12/74',
       '09/19/81', '9/6/79', '12/5/87', '01/05/1999', '4/22/80',
       '10/04/98', '6/29/81', '8/04/78', '7/07/1974', '09/14/2000',
       '5/18/71', '8/09/1981', '6/05/93', '8/9/97', '12/8/82', '8/26/89',
       '10/13/95', '4/19/91', '04/08/2004', '9/20/76', '12/08/1990',
       '4/11/1974', '7/18/86', '3/31/91', '5/13/72', '11/14/83',
       '8/16/92', '10/05/97', '07/18/2002', '9/22/82', '2/24/74',
       '2/03/78', '2/11/2006', '8/22/83', '5/04/74', '7/20/2011',
       '6/17/95', '6/10/72', '10/16/82', '12/15/92', '12/8/97', '4/05/89',
       '12/04/87', '6/20/77', '4/27/2006', '07/17/92', '12/22/98',
       '10/02/96', '11/05/90', '5/04/77', '2/27/96', '01/2001', '09/2004',
       '05/1982', '06/2002', '05/1972', '10/1987', '10/1996', '11/2007',
       '06/1994', '01/1981', '10/1985', '02/1985', '02/1983', '02/1992',
       '10/2012', '02/1995', '05/2016', '01/1996', '10/1992', '10/2003',
       '10/1999', '11/2004', '05/2001', '02/1978', '09/1989', '03/1980',
       '06/1990', '09/2015', '01/1972', '03/1974', '10/1974', '05/1974',
       '02/1990', '08/2000', '10/2007', '10/2016', '01/1994', '10/1978',
       '08/1975', '11/1996', '10/1979', '10/1986', '10/1995', '01/2011',
       '10/1972', '08/1993', '10/2006', '12/1988', '10/1983', '05/2010',
       '01/1990', '06/1985', '12/1982', '08/1995', '06/1974', '05/2008',
       '11/2002', '08/1985', '01/2008', '03/2004', '10/1977', '11/1972',
       '05/1993', '01/1995', '04/11', '05/30', '02/18', '10/11', '01/24',
       '07/26', '12/23', '05/15', '09/06', '03/10', '01/27', '10/23',
       '08/12', '09/01', '07/25', '08/11', '04/17', '07/24', '07/11',
       '09/10', '08/14', '11/11', '06/13', '05/14', '12/14', '06/25',
       '10/18', '10/14', '06/15', '01/07', '09/15', '09/1985', '06/2011',
       '05/1986', '07/1977', '07/1990', '07/2003', '10/2015', '05/1995',
       '02/1976', '05/2011', '05/2004', '11/2010', '09/2012', '01/2013',
       '11/1990', '07/1981', '05/1983', '07/1995', '04/1993', '05/2005',
       '12/1998', '01/2007', '02/2016', '08/1979', '10/2014', '08/1988',
       '04/1976', '11/1979', '02/2000', '09/1981', '06/2007', '04/1989',
       '09/1999', '10/1980', '12/2009', '07/1992', '05/2006', '7787',
       '02/1993', '02/2010', '04/1985', '09/1984', '04/1986', '04/2007',
       '09/1974', '09/2013', '07/1985', '08/2004', '05/2012', '02/1977',
       '01/1987', '09/1983', '03/2010', '08/2009', '09/2007', '12/2011',
       '01/2004', '11/1995', '09/2008', '03/1983', '01/2009', '01/1993',
       '12/1992', '01/1977', '03/2002', '07/2006', '02/1994', '04/1977',
       '02/1989', '12/1978', '06/1976', '03/1975', '01/1978', '07/1975',
       '11/2012', '206/1999', '10/1991', '03/1973', '04/1999', '03/2000',
       '04/1988', '12/1993', '11/1997', '07/1986', '02/1973', '03/1978',
       '12/2007', '04/1998', '03/2005', '05/1980', '03/1976', '1998',
       '2005', '1973', '1980', '1987', '2004', '1974', '1986', '1997',
       '1993', '1981', '2003', '1983', '1994', '2008', '1975', '2010',
       '2014', '2001', '1978', '2009', '1995', '1989', '2000', '1999',
       '2012', '1988', '2007', '1977', '1979', '1992', '1990', '2016',
       '1984', '1982', '2013', '2006', '2002', '1985', '1991', '1976',
       '2011', '1972', '2015', '1996'], dtype=object)

In [327]:

def cleanDate(row):
    if row["Dates"].str.contains("\d{1,2}/\d{1,2}/\d{2}"):
        row["Dates"].str.replace("/\d{2}")

df2.apply(cleanDate, axis = 1)

03/25/93
6/18/85
7/8/71
9/27/75
2/6/96
7/06/79
5/18/78
10/24/89
3/7/86
4/10/71
5/11/85
4/09/75
8/01/98
1/26/72
5/24/1990
1/25/2011
4/12/82
10/13/1976
4/24/98
5/21/77
7/21/98
10/21/79
3/03/90
2/11/76
07/25/1984
4/13/82
9/22/89
9/02/76
9/12/71
10/24/86
03/31/1985
7/20/72
4/12/87
06/20/91
5/12/2012
3/15/83
2/14/73
5/24/88
7/27/1986
1/14/81
7/29/75
6/24/87
8/14/94
4/13/2002
8/16/82
2/15/1998
7/15/91
06/12/94
9/17/84
2/28/75
11/22/75
5/24/91
6/13/92
7/11/71
12/26/86
10/11/1987
3/14/95
12/01/73
12/5/2010
08/20/1982
7/24/95
8/06/83
02/22/92
6/28/87
07/29/1994
08/11/78
10/29/91
7/6/91
1/21/87
11/3/1985
7/04/82
4/13/89
7/11/77
4/12/74
09/19/81
9/6/79
12/5/87
01/05/1999
4/22/80
10/04/98
6/29/81
8/04/78
7/07/1974
09/14/2000
5/18/71
8/09/1981
6/05/93
8/9/97
12/8/82
8/26/89
10/13/95
4/19/91
04/08/2004
9/20/76
12/08/1990
4/11/1974
7/18/86
3/31/91
5/13/72
11/14/83
8/16/92
10/05/97
07/18/2002
9/22/82
2/24/74
2/03/78
2/11/2006
8/22/83
5/04/74
7/20/2011
6/17/95
6/10/72
10/16/82
12/15/92
12/8/97
4/05/89
12/04/87
6/20/77
4/27/2006
07/17/92
12/22/98
10/02/96
11/05/90
5/04/77
2/27/96
01/2001
09/2004
05/1982
06/2002
05/1972
10/1987
10/1996
11/2007
06/1994
01/1981
10/1985
02/1985
02/1983
02/1992
10/2012
02/1995
05/2016
01/1996
10/1992
10/2003
10/1999
11/2004
05/2001
02/1978
09/1989
03/1980
06/1990
09/2015
01/1972
03/1974
10/1974
05/1974
02/1990
08/2000
05/2001
10/2007
10/2016
03/1974
01/1994
10/1978
08/1975
11/1996
10/1979
10/1986
10/1995
01/2011
10/1972
08/1993
10/2006
12/1988
10/1983
05/2010
01/1990
06/1985
12/1982
12/1988
08/1995
06/1974
05/2008
11/2002
08/1985
10/2016
01/2008
03/2004
10/1977
08/2000
11/1972
05/1993
01/1995
04/11
05/30
02/18
02/18
10/11
01/24
07/26
12/23
05/15
09/06
03/10
01/27
10/23
08/12
09/01
07/25
08/11
04/17
07/24
07/11
09/10
08/14
11/11
06/13
05/14
12/14
06/25
10/18
05/15
10/14
07/25
06/15
01/07
09/15
09/1985
06/2011
05/1986
05/2016
07/1977
07/1990
07/2003
10/2015
05/1995
02/1976
01/1995
02/1978
05/2011
05/2004
11/2010
09/2012
01/2013
11/1990
07/1981
05/1983
07/1995
04/1993
05/2005
12/1998
01/2007
02/2016
08/1979
10/2014
08/1988
09/2015
04/1976
11/1979
02/2000
10/1986
06/2002
09/1981
06/2007
04/1989
09/1999
10/1980
12/2009
07/1992
05/2006
7787
02/1993
02/2010
04/1985
09/1984
04/1986
04/2007
09/1974
09/2013
07/1985
08/2004
05/2012
02/1977
01/1987
09/1983
01/2013
03/2010
08/2009
09/2007
12/2011
01/2004
11/1995
09/2008
02/1983
03/1983
08/1979
01/2009
01/1993
03/1974
01/1994
12/1992
11/2004
01/1977
03/2002
02/2000
05/2004
07/2006
02/1994
04/1977
10/1992
02/1995
02/1989
12/1978
01/2007
06/1976
05/2011
03/1975
01/1978
07/1975
11/2012
206/1999
10/1991
03/1973
10/1996
06/2007
10/1995
04/1999
05/2001
03/2000
04/1988
12/1993
06/1974
11/1997
07/1986
02/1973
03/1978
12/2007
04/1998
03/2005
05/1980
11/2007
03/1976
1998
2005
1973
2005
1980
2005
1987
2004
1974
1986
1997
1993
1981
2003
1993
1983
1994
2008
1980
2003
1975
2010
1997
2014
2001
1986
1978
1975
2009
1995
1989
2000
1973
1999
2001
1978
2009
1973
2014
1975
2012
1999
1989
2009
1998
1995
2009
1988
2007
2000
2012
2001
1977
2008
1983
1979
1992
2008
2014
1974
1981
1986
1973
1994
1999
2010
1994
2007
2010
1990
2016
2004
1973
1987
2000
1975
1977
2000
1984
1973
1986
1979
2004
1984
2016
2007
1982
1981
2013
1999
2006
1978
1989
1974
1986
1983
2014
1989
1980
1992
2000
1981
2008
2002
1985
2010
2002
1994
2004
2003
1991
1982
1984
2000
2001
1982
1998
2012
1991
1988
2014
2016
1976
1981
2011
1997
2003
1983
1999
2010
1975
1972
2015
1989
1994
1993
1996
2013
1974
1990
1995
2004
1987
1973
1992
1977
1985
2007
2009
1986
1978
2002
1979
2006
2008
2005
1980

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
       ...
470    None
471    None
472    None
473    None
474    None
475    None
476    None
477    None
478    None
479    None
480    None
481    None
482    None
483    None
484    None
485    None
486    None
487    None
488    None
489    None
490    None
491    None
492    None
493    None
494    None
495    None
496    None
497    None
498    None
499    None
Length: 500, dtype: object

In [262]:
df3 = df.str.extract(r'(?P<Dates>(?:(?P<Month1>\d{1,2})[-/](?P<Day1>\d{1,2}[-/])(?P<Year1>\d{2,4})|(?P<Day2>\d{1,2})?(?P<Month2>Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.]{0,2}(?P<Day3>\d{0,2}(?:nd|th|st)?)?[, ]{0,2}(?P<Year2>\d{2,4})|(?P<Year3>[^-]?\d{4})))')

In [3]:
def date_sorter():
    
    # Your code here
    
    return # Your answer here